{
  "ConnectionStrings": {
    "DefaultConnection": "Your_Development_Connection_String_Here"
  },
  "JWT": {
    "Issuer": "http://localhost:5246",
    "Audience": "http://localhost:5246",
    "SigningKey": "Your_Development_Signing_Key_Here"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
